.apply__list{
    max-width: 1230px;
    background-color: gainsboro;
}
.apply-list__form{
    width: 100%;
    margin: 0;
}
.apply-list__title{
    width: 100%;
    margin: 50px 20%;
}
.apply-list__header{
    padding: 20px auto;
    font-size: 30px;
}
.apply-list__table{
    width: 60%;
    margin-left: 20%;
}
.apply-list__table-row
.apply-list__table-header{
    padding: 20px 50px;
    text-align: left;
    background-color: white;
}
.apply-list__table-date{
    padding: 20px 50px;
    background-color: white;
}
.input__year,
.input__mouth{
    display: inline;
    padding: 0 20px;
    border: none;

}
.input__clock-in,
.input__clock-out,
.input__break-in,
.input__break-out{
    padding: 0 20px;
    border: none;
}
.form__line{
    display: inline;
    padding: 0 10px;
}
.input__name,
.textarea__remarks{
    border: none;
    text-align: left;
}
.correction__button{
    width: 60%;
    margin: 0 20%;
}
.correction__button-submit{
    margin-left: 80%;
    margin-top: 20px;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 25px;
}
.apply-detail__check{
    width: 60%;
    margin: 0 20%;
}
.apply-detail__correction{
    margin-left: 50%;
    margin-top: 20px;
    padding: 5px 30px;
    color: red;
}
.error{
    color: red;
}

