.user__register{
    max-width: 1230px;
}
.register__form{
    width: 100%;
}
.register__title{
    width: 100%;
    margin: 20px auto;
}
.register__header{
    width: 100%;
    padding: 20px auto;
    text-align: center;
    font-size: 30px;
}
.register__inner{
    width: 100%;
}
.register__input{
    width: 100%;
    margin: 5px 0;
    text-align: center;
}
.input__label{
    display: block;
    text-align: left;
    margin-left: 19%;
    font-size: 20px;
}
.input__item{
    width: 60%;
    padding: 10px;
}
.error{
    color: red;
    text-align: left;
    margin-left: 19%;
    font-size: 20px;
}
.register__button{
    width: 100%;
    margin: 10px 0;
    text-align: center;
}
.register__button-submit{
    width: 60%;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
}
.login__link{
    width: 100%;
    text-align: center;
    margin: 5px 0;
}
.login__link-url{
    padding: 10px;
    color: aqua;
}